In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.impute import KNNImputer
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('thyroid_cleaned.csv')

In [3]:
df

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_meds,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,tumor,hypopituitary,psych,TSH,T3,TT4,T4U,FTI,referral_source,target
0,29,F,f,f,f,f,f,f,f,t,...,f,f,f,0.3,0.0,0.0,0.00,0.0,other,-
1,29,F,f,f,f,f,f,f,f,f,...,f,f,f,1.6,1.9,128.0,0.00,0.0,other,-
2,41,F,f,f,f,f,f,f,f,f,...,f,f,f,0.0,0.0,0.0,0.00,0.0,other,-
3,36,F,f,f,f,f,f,f,f,f,...,f,f,f,0.0,0.0,0.0,0.00,0.0,other,-
4,32,F,f,f,f,f,f,f,f,f,...,f,f,f,0.0,0.0,0.0,0.00,0.0,other,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9163,56,M,f,f,f,f,f,f,f,f,...,f,f,f,0.0,0.0,64.0,0.83,77.0,SVI,-
9164,22,M,f,f,f,f,f,f,f,f,...,f,f,f,0.0,0.0,91.0,0.92,99.0,SVI,-
9165,69,M,f,f,f,f,f,f,f,f,...,f,f,f,0.0,0.0,113.0,1.27,89.0,SVI,I
9166,47,F,f,f,f,f,f,f,f,f,...,f,f,f,0.0,0.0,75.0,0.85,88.0,other,-
9167,31,M,f,f,f,f,f,f,f,t,...,f,f,f,0.0,0.0,66.0,1.02,65.0,other,-

In [4]:
df.info

<bound method DataFrame.info of       age sex on_thyroxine query_on_thyroxine on_antithyroid_meds sick  \
0      29   F            f                  f                   f    f
1      29   F            f                  f                   f    f
2      41   F            f                  f                   f    f
3      36   F            f                  f                   f    f
4      32   F            f                  f                   f    f
...   ...  ..          ...                ...                 ...  ...
9163   56   M            f                  f                   f    f
9164   22   M            f                  f                   f    f
9165   69   M            f                  f                   f    f
9166   47   F            f                  f                   f    f
9167   31   M            f                  f                   f    f

     pregnant thyroid_surgery I131_treatment query_hypothyroid  ... tumor  \
0           f               f              f                 t  ...     f
1           f               f              f                 f  ...     f
2           f               f              f                 f  ...     f
3           f               f              f                 f  ...     f
4           f               f              f                 f  ...     f
...       ...             ...            ...               ...  ...   ...
9163        f               f              f                 f  ...     f
9164        f               f              f                 f  ...     f
9165        f               f              f                 f  ...     f
9166        f               f              f                 f  ...     f
9167        f               f              f                 t  ...     f

     hypopituitary psych  TSH   T3    TT4   T4U   FTI  referral_source  target
0                f     f  0.3  0.0    0.0  0.00   0.0            other       -
1                f     f  1.6  1.9  128.0  0.00   0.0            other       -
2                f     f  0.0  0.0    0.0  0.00   0.0            other       -
3                f     f  0.0  0.0    0.0  0.00   0.0            other       -
4                f     f  0.0  0.0    0.0  0.00   0.0            other       S
...            ...   ...  ...  ...    ...   ...   ...              ...     ...
9163             f     f  0.0  0.0   64.0  0.83  77.0              SVI       -
9164             f     f  0.0  0.0   91.0  0.92  99.0              SVI       -
9165             f     f  0.0  0.0  113.0  1.27  89.0              SVI       I
9166             f     f  0.0  0.0   75.0  0.85  88.0            other       -
9167             f     f  0.0  0.0   66.0  1.02  65.0            other       -

[9168 rows x 23 columns]>

In [5]:
df.describe

<bound method NDFrame.describe of       age sex on_thyroxine query_on_thyroxine on_antithyroid_meds sick  \
0      29   F            f                  f                   f    f
1      29   F            f                  f                   f    f
2      41   F            f                  f                   f    f
3      36   F            f                  f                   f    f
4      32   F            f                  f                   f    f
...   ...  ..          ...                ...                 ...  ...
9163   56   M            f                  f                   f    f
9164   22   M            f                  f                   f    f
9165   69   M            f                  f                   f    f
9166   47   F            f                  f                   f    f
9167   31   M            f                  f                   f    f

     pregnant thyroid_surgery I131_treatment query_hypothyroid  ... tumor  \
0           f               f              f                 t  ...     f
1           f               f              f                 f  ...     f
2           f               f              f                 f  ...     f
3           f               f              f                 f  ...     f
4           f               f              f                 f  ...     f
...       ...             ...            ...               ...  ...   ...
9163        f               f              f                 f  ...     f
9164        f               f              f                 f  ...     f
9165        f               f              f                 f  ...     f
9166        f               f              f                 f  ...     f
9167        f               f              f                 t  ...     f

     hypopituitary psych  TSH   T3    TT4   T4U   FTI  referral_source  target
0                f     f  0.3  0.0    0.0  0.00   0.0            other       -
1                f     f  1.6  1.9  128.0  0.00   0.0            other       -
2                f     f  0.0  0.0    0.0  0.00   0.0            other       -
3                f     f  0.0  0.0    0.0  0.00   0.0            other       -
4                f     f  0.0  0.0    0.0  0.00   0.0            other       S
...            ...   ...  ...  ...    ...   ...   ...              ...     ...
9163             f     f  0.0  0.0   64.0  0.83  77.0              SVI       -
9164             f     f  0.0  0.0   91.0  0.92  99.0              SVI       -
9165             f     f  0.0  0.0  113.0  1.27  89.0              SVI       I
9166             f     f  0.0  0.0   75.0  0.85  88.0            other       -
9167             f     f  0.0  0.0   66.0  1.02  65.0            other       -

[9168 rows x 23 columns]>

In [6]:
df.shape

(9168, 23)

In [7]:
df['sex'].value_counts()

sex
F    6378
M    2790
Name: count, dtype: int64

In [8]:
df[(df['sex']=='Male') & (df['pregnant'] == 't')]

Empty DataFrame
Columns: [age, sex, on_thyroxine, query_on_thyroxine, on_antithyroid_meds, sick, pregnant, thyroid_surgery, I131_treatment, query_hypothyroid, query_hyperthyroid, lithium, goitre, tumor, hypopituitary, psych, TSH, T3, TT4, T4U, FTI, referral_source, target]
Index: []

[0 rows x 23 columns]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9168 entries, 0 to 9167
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  9168 non-null   int64
 1   sex                  9168 non-null   object
 2   on_thyroxine         9168 non-null   object
 3   query_on_thyroxine   9168 non-null   object
 4   on_antithyroid_meds  9168 non-null   object
 5   sick                 9168 non-null   object
 6   pregnant             9168 non-null   object
 7   thyroid_surgery      9168 non-null   object
 8   I131_treatment       9168 non-null   object
 9   query_hypothyroid    9168 non-null   object
 10  query_hyperthyroid   9168 non-null   object
 11  lithium              9168 non-null   object
 12  goitre               9168 non-null   object
 13  tumor                9168 non-null   object
 14  hypopituitary        9168 non-null   object
 15  psych                9168 non-null   object
 16  TSH                  9168 non-null   float64
 17  T3                   9168 non-null   float64
 18  TT4                  9168 non-null   float64
 19  T4U                  9168 non-null   float64
 20  FTI                  9168 non-null   float64
 21  referral_source      9168 non-null   object
 22  target               9168 non-null   object
dtypes: float64(5), int64(1), object(17)
memory usage: 1.6+ MB

In [10]:
df['target'].unique

<bound method Series.unique of 0       -
1       -
2       -
3       -
4       S
       ..
9163    -
9164    -
9165    I
9166    -
9167    -
Name: target, Length: 9168, dtype: object>

In [11]:
print(df['target'].value_counts())

target
-      6767
K       436
G       359
I       346
F       233
R       196
A       147
L       115
M       111
N       110
S        85
GK       49
AK       46
J        30
B        21
MK       16
O        14
Q        14
C|I      12
KJ       11
GI       10
H|K       8
D         8
FK        6
C         6
P         5
MI        2
LJ        1
GKJ       1
OI        1
D|R       1
E         1
Name: count, dtype: int64

In [12]:
df[(df['target']=='I') & (df['pregnant'] == 't')]

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_meds,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,tumor,hypopituitary,psych,TSH,T3,TT4,T4U,FTI,referral_source,target
254,27,F,f,f,f,f,t,t,f,f,...,f,f,f,6.00,3.8,149.0,1.73,86.0,other,I
353,22,F,f,f,f,f,t,f,f,f,...,f,f,f,0.00,0.0,149.0,1.38,108.0,WEST,I
519,21,F,f,f,f,f,t,f,f,f,...,f,f,f,0.40,3.7,162.0,1.76,92.0,STMW,I
890,34,F,f,f,f,f,t,f,f,f,...,f,f,f,0.90,2.9,202.0,1.51,134.0,STMW,I
981,17,F,f,f,f,f,t,f,f,f,...,f,f,f,0.50,3.4,143.0,1.43,100.0,STMW,I
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8048,25,F,f,f,f,f,t,f,f,f,...,f,f,f,1.80,0.0,158.0,1.58,100.0,STMW,I
8499,22,F,f,f,f,f,t,f,f,f,...,f,f,f,1.90,0.0,182.0,1.95,93.0,STMW,I
8904,62,F,f,f,f,f,t,f,f,f,...,f,f,f,0.62,0.0,154.0,1.75,88.0,SVHC,I
9048,30,F,f,f,f,f,t,f,f,f,...,f,f,f,5.30,3.3,120.0,1.50,80.0,other,I
9077,27,F,f,f,f,f,t,f,f,f,...,f,f,f,1.40,0.0,106.0,1.79,59.0,STMW,I

In [13]:
df[(df['target']=='I') & (df['sick'] == 't')]

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_meds,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,tumor,hypopituitary,psych,TSH,T3,TT4,T4U,FTI,referral_source,target
4415,71,F,f,f,f,t,f,f,f,f,...,f,f,f,0.16,2.4,165.0,1.35,123.0,SVI,I
5124,12,F,f,f,f,t,f,f,f,f,...,f,f,f,2.40,0.0,166.0,1.20,138.0,other,I
5171,53,F,f,f,f,t,f,f,f,f,...,f,f,f,2.40,3.7,172.0,1.67,103.0,other,I
7794,48,F,f,f,f,t,f,f,f,f,...,f,f,f,2.10,0.0,129.0,1.28,101.0,SVHC,I

In [14]:
df[(df['target']=='I')]

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_meds,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,tumor,hypopituitary,psych,TSH,T3,TT4,T4U,FTI,referral_source,target
33,71,F,t,f,f,f,f,f,f,f,...,f,f,f,0.05,0.0,126.0,1.38,91.0,other,I
94,66,F,t,f,f,f,f,f,f,f,...,f,f,f,2.10,0.0,81.0,1.29,63.0,other,I
97,56,M,t,f,f,f,f,f,f,f,...,f,f,f,0.00,0.0,87.0,1.30,67.0,other,I
107,28,F,f,f,f,f,f,f,f,f,...,f,f,f,0.20,3.7,170.0,1.83,93.0,STMW,I
117,83,F,f,f,f,f,f,f,f,f,...,f,f,f,0.90,4.4,144.0,1.44,100.0,other,I
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9077,27,F,f,f,f,f,t,f,f,f,...,f,f,f,1.40,0.0,106.0,1.79,59.0,STMW,I
9093,15,F,f,f,f,f,f,f,f,f,...,f,f,f,28.00,0.0,208.0,2.03,102.0,other,I
9114,63,F,f,f,f,f,f,f,f,f,...,f,f,f,2.10,3.1,126.0,1.66,76.0,other,I
9158,36,F,f,f,f,f,f,f,f,f,...,f,f,f,0.00,0.0,84.0,1.26,67.0,other,I
9165,69,M,f,f,f,f,f,f,f,f,...,f,f,f,0.00,0.0,113.0,1.27,89.0,SVI,I

In [15]:
# Basic code for dropping 'other' category
import pandas as pd

# Load your dataset (original or already categorized)
df = pd.read_csv('thyroid_cleaned.csv')  # or 'thyroid_official_categories.csv'

# If using original dataset, categorize it first
if 'target_category' not in df.columns:
    # Define condition groups
    hyperthyroid_conditions = ['A', 'B', 'C', 'D', 'O', 'P', 'Q', 'S', 'T']
    hypothyroid_conditions = ['E', 'F', 'G', 'H']
    normal_conditions = ['-']
    
    # Categorization function
    def categorize_diagnosis(diagnosis):
        if diagnosis in normal_conditions:
            return 'normal'
        if '|' in diagnosis:
            parts = diagnosis.split('|')
            main_diagnosis = parts[1]
        else:
            main_diagnosis = diagnosis[0]
        
        if main_diagnosis in hyperthyroid_conditions:
            return 'hyperthyroid'
        elif main_diagnosis in hypothyroid_conditions:
            return 'hypothyroid'
        else:
            for char in diagnosis:
                if char in hyperthyroid_conditions:
                    return 'hyperthyroid'
                elif char in hypothyroid_conditions:
                    return 'hypothyroid'
            return 'other'
    
    # Apply categorization
    df['target_category'] = df['target'].apply(categorize_diagnosis)

# Drop rows with 'other' category
df2 = df[df['target_category'] != 'other']


df2.to_csv('thyroid_filtered_categories.csv', index=False)

print(df2['target_category'].value_counts())

target_category
normal          6767
hypothyroid      667
hyperthyroid     360
Name: count, dtype: int64

In [16]:
df2

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_meds,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,hypopituitary,psych,TSH,T3,TT4,T4U,FTI,referral_source,target,target_category
0,29,F,f,f,f,f,f,f,f,t,...,f,f,0.3,0.0,0.0,0.00,0.0,other,-,normal
1,29,F,f,f,f,f,f,f,f,f,...,f,f,1.6,1.9,128.0,0.00,0.0,other,-,normal
2,41,F,f,f,f,f,f,f,f,f,...,f,f,0.0,0.0,0.0,0.00,0.0,other,-,normal
3,36,F,f,f,f,f,f,f,f,f,...,f,f,0.0,0.0,0.0,0.00,0.0,other,-,normal
4,32,F,f,f,f,f,f,f,f,f,...,f,f,0.0,0.0,0.0,0.00,0.0,other,S,hyperthyroid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9162,70,F,f,f,f,f,f,f,f,f,...,f,f,0.0,0.0,88.0,0.74,119.0,SVI,-,normal
9163,56,M,f,f,f,f,f,f,f,f,...,f,f,0.0,0.0,64.0,0.83,77.0,SVI,-,normal
9164,22,M,f,f,f,f,f,f,f,f,...,f,f,0.0,0.0,91.0,0.92,99.0,SVI,-,normal
9166,47,F,f,f,f,f,f,f,f,f,...,f,f,0.0,0.0,75.0,0.85,88.0,other,-,normal
9167,31,M,f,f,f,f,f,f,f,t,...,f,f,0.0,0.0,66.0,1.02,65.0,other,-,normal

In [17]:
df

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_meds,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,hypopituitary,psych,TSH,T3,TT4,T4U,FTI,referral_source,target,target_category
0,29,F,f,f,f,f,f,f,f,t,...,f,f,0.3,0.0,0.0,0.00,0.0,other,-,normal
1,29,F,f,f,f,f,f,f,f,f,...,f,f,1.6,1.9,128.0,0.00,0.0,other,-,normal
2,41,F,f,f,f,f,f,f,f,f,...,f,f,0.0,0.0,0.0,0.00,0.0,other,-,normal
3,36,F,f,f,f,f,f,f,f,f,...,f,f,0.0,0.0,0.0,0.00,0.0,other,-,normal
4,32,F,f,f,f,f,f,f,f,f,...,f,f,0.0,0.0,0.0,0.00,0.0,other,S,hyperthyroid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9163,56,M,f,f,f,f,f,f,f,f,...,f,f,0.0,0.0,64.0,0.83,77.0,SVI,-,normal
9164,22,M,f,f,f,f,f,f,f,f,...,f,f,0.0,0.0,91.0,0.92,99.0,SVI,-,normal
9165,69,M,f,f,f,f,f,f,f,f,...,f,f,0.0,0.0,113.0,1.27,89.0,SVI,I,other
9166,47,F,f,f,f,f,f,f,f,f,...,f,f,0.0,0.0,75.0,0.85,88.0,other,-,normal
9167,31,M,f,f,f,f,f,f,f,t,...,f,f,0.0,0.0,66.0,1.02,65.0,other,-,normal

In [18]:
df2

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_meds,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,hypopituitary,psych,TSH,T3,TT4,T4U,FTI,referral_source,target,target_category
0,29,F,f,f,f,f,f,f,f,t,...,f,f,0.3,0.0,0.0,0.00,0.0,other,-,normal
1,29,F,f,f,f,f,f,f,f,f,...,f,f,1.6,1.9,128.0,0.00,0.0,other,-,normal
2,41,F,f,f,f,f,f,f,f,f,...,f,f,0.0,0.0,0.0,0.00,0.0,other,-,normal
3,36,F,f,f,f,f,f,f,f,f,...,f,f,0.0,0.0,0.0,0.00,0.0,other,-,normal
4,32,F,f,f,f,f,f,f,f,f,...,f,f,0.0,0.0,0.0,0.00,0.0,other,S,hyperthyroid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9162,70,F,f,f,f,f,f,f,f,f,...,f,f,0.0,0.0,88.0,0.74,119.0,SVI,-,normal
9163,56,M,f,f,f,f,f,f,f,f,...,f,f,0.0,0.0,64.0,0.83,77.0,SVI,-,normal
9164,22,M,f,f,f,f,f,f,f,f,...,f,f,0.0,0.0,91.0,0.92,99.0,SVI,-,normal
9166,47,F,f,f,f,f,f,f,f,f,...,f,f,0.0,0.0,75.0,0.85,88.0,other,-,normal
9167,31,M,f,f,f,f,f,f,f,t,...,f,f,0.0,0.0,66.0,1.02,65.0,other,-,normal

In [19]:
print(df['target'].value_counts())

target
-      6767
K       436
G       359
I       346
F       233
R       196
A       147
L       115
M       111
N       110
S        85
GK       49
AK       46
J        30
B        21
MK       16
O        14
Q        14
C|I      12
KJ       11
GI       10
H|K       8
D         8
FK        6
C         6
P         5
MI        2
LJ        1
GKJ       1
OI        1
D|R       1
E         1
Name: count, dtype: int64

In [20]:
print(df2['target'].value_counts())

target
-      6767
G       359
F       233
A       147
S        85
GK       49
AK       46
B        21
O        14
Q        14
C|I      12
GI       10
H|K       8
D         8
FK        6
C         6
P         5
GKJ       1
OI        1
D|R       1
E         1
Name: count, dtype: int64

In [21]:
print(df['target_category'].value_counts())

target_category
normal          6767
other           1374
hypothyroid      667
hyperthyroid     360
Name: count, dtype: int64

In [22]:
print(df2['target_category'].value_counts())

target_category
normal          6767
hypothyroid      667
hyperthyroid     360
Name: count, dtype: int64

In [23]:
df2

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_meds,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,hypopituitary,psych,TSH,T3,TT4,T4U,FTI,referral_source,target,target_category
0,29,F,f,f,f,f,f,f,f,t,...,f,f,0.3,0.0,0.0,0.00,0.0,other,-,normal
1,29,F,f,f,f,f,f,f,f,f,...,f,f,1.6,1.9,128.0,0.00,0.0,other,-,normal
2,41,F,f,f,f,f,f,f,f,f,...,f,f,0.0,0.0,0.0,0.00,0.0,other,-,normal
3,36,F,f,f,f,f,f,f,f,f,...,f,f,0.0,0.0,0.0,0.00,0.0,other,-,normal
4,32,F,f,f,f,f,f,f,f,f,...,f,f,0.0,0.0,0.0,0.00,0.0,other,S,hyperthyroid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9162,70,F,f,f,f,f,f,f,f,f,...,f,f,0.0,0.0,88.0,0.74,119.0,SVI,-,normal
9163,56,M,f,f,f,f,f,f,f,f,...,f,f,0.0,0.0,64.0,0.83,77.0,SVI,-,normal
9164,22,M,f,f,f,f,f,f,f,f,...,f,f,0.0,0.0,91.0,0.92,99.0,SVI,-,normal
9166,47,F,f,f,f,f,f,f,f,f,...,f,f,0.0,0.0,75.0,0.85,88.0,other,-,normal
9167,31,M,f,f,f,f,f,f,f,t,...,f,f,0.0,0.0,66.0,1.02,65.0,other,-,normal